{% extends "base.html" %}
{% block content %}



<!--      캐러셀 이미지     -->
  <div id="carouselExampleCaptions" class="carousel carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{ url_for('static', filename='2021_1900_1080.jpg')}}" class="d-block w-100" alt="2021_1900_1080">
        <div class="carousel-caption d-none d-md-block">
          <h3>2021년 신축년(辛丑年)</h3>
          <p>흰소는 신성한 기운을 가지고 있으며, 근면/성실하며, 인내가 많<b>소</b>.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{ url_for('static', filename='2021sun_1900_1080.jpg')}}" class="d-block w-100" alt="2021sun_1900_1080">
        <div class="carousel-caption d-none d-md-block">
          <h3>떠오르는 태양</h3>
          <p>코로나19로 인해 일출을 볼수는 없었지만, 그래도 해는 떠올랐<b>소</b>.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{ url_for('static', filename='goupneverstop_1900_1080.jpg')}}" class="d-block w-100" alt="goupneverstop_1900_1080">
        <div class="carousel-caption d-none d-md-block">
          <h3>정진(精進)하는 한해</h3>
          <p>힘을 다해 일념으로 앞으로 나아갈수 있도록 하<b>소</b>.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
<!--      주요 컨텐츠 3개     -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">주요 관심사
      <small>놀기</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">노는 방법</li>
    </ol>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='golf1.png')}}" alt="golf1"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">골프룰 익히기</a>
            </h4>
            <p class="card-text">간단하게 골프룰을 익히자</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='screengolf1.png')}}" alt="700_400"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">스크린 즐기기</a>
            </h4>
            <p class="card-text">스크린 골프를 즐기는 방법</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="700_400"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">필드에서 놀기</a>
            </h4>
            <p class="card-text">필드에서 재미있게 노는 방법</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--      주요 컨텐츠 3개 end    -->



{% endblock %}